# Ignore all files without extension.
# If you need to git-add a file without extension, add -f
*
!*.*
!*/

*.o
*.a
*.log
*.pb.cc
*.pb.h
*.prof
*.so
*.out
/runtime
/output
/test/output

# Ignore hidden files
.*
*.swp

# Ignore CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/build
/third-party

# Github aciton
!.github
cmake-build-debug