* text=auto !eol
/COMAKE -text
/OWNER -text
protocol/raft/errno.proto -text
protocol/raft/local_storage.proto -text
protocol/raft/raft.proto -text
src/raft/commitment_manager.cpp -text
src/raft/commitment_manager.h -text
src/raft/configuration.cpp -text
src/raft/configuration.h -text
src/raft/log.cpp -text
src/raft/log.h -text
src/raft/log_manager.cpp -text
src/raft/log_manager.h -text
src/raft/node.cpp -text
src/raft/node.h -text
src/raft/protobuf_file.cpp -text
src/raft/protobuf_file.h -text
src/raft/raft.h -text
src/raft/raft_service.cpp -text
src/raft/raft_service.h -text
src/raft/stable.cpp -text
src/raft/stable.h -text
src/raft/test_log.cpp -text
src/raft/test_protobuf_file.cpp -text
src/raft/test_stable.cpp -text
src/raft/util.h -text
