* text=auto !eol
/BCLOUD -text
/COMAKE -text
/OWNER -text
example/atomic/COMAKE -text
example/atomic/atomic.proto -text
example/atomic/bench.cpp -text
example/atomic/client.cpp -text
example/atomic/control.sh -text
example/atomic/run_client.sh -text
example/atomic/run_server.sh -text
example/atomic/server.cpp -text
example/block/COMAKE -text
example/block/block.cpp -text
example/block/block.h -text
example/block/block.proto -text
example/block/block_client.cpp -text
example/block/block_server.cpp -text
example/block/block_service.cpp -text
example/block/block_service.h -text
example/block/comlog.conf -text
example/block/run_client.sh -text
example/block/run_server.sh -text
example/block/run_stats.sh -text
example/block/stop.sh -text
example/common/COMAKE -text
example/common/cli.cpp -text
example/common/cli.h -text
example/common/cli.proto -text
example/common/cli_service.cpp -text
example/common/cli_service.h -text
example/common/state_machine.cpp -text
example/common/state_machine.h -text
example/counter/COMAKE -text
example/counter/client_req_id.h -text
example/counter/comlog.conf -text
example/counter/counter.cpp -text
example/counter/counter.h -text
example/counter/counter.proto -text
example/counter/counter_client.cpp -text
example/counter/counter_server.cpp -text
example/counter/counter_service.cpp -text
example/counter/counter_service.h -text
example/counter/run_client.sh -text
example/counter/run_server.sh -text
example/counter/run_stats.sh -text
example/counter/stop.sh -text
example/ebs/COMAKE -text
example/ebs/block_client.cpp -text
example/ebs/block_server.cpp -text
example/ebs/ebs.flags -text
example/ebs/ebs.proto -text
example/ebs/evm_executor_api.cpp -text
example/ebs/evm_executor_api.h -text
example/ebs/run_client.sh -text
example/ebs/run_server.sh -text
example/ebs/stop.sh -text
example/ebs/tgt/Makefile -text
example/ebs/tgt/build.sh -text
example/ebs/tgt/conf/Makefile -text
example/ebs/tgt/conf/examples/targets.conf.example -text
example/ebs/tgt/conf/examples/targets.conf.vtl.L700 -text
example/ebs/tgt/conf/examples/targets.conf.vtl.MSL2024 -text
example/ebs/tgt/conf/targets.conf -text
example/ebs/tgt/doc/Makefile -text
example/ebs/tgt/doc/README.glfs -text
example/ebs/tgt/doc/README.iscsi -text
example/ebs/tgt/doc/README.iser -text
example/ebs/tgt/doc/README.lu_configuration -text
example/ebs/tgt/doc/README.mmc -text
example/ebs/tgt/doc/README.passthrough -text
example/ebs/tgt/doc/README.rbd -text
example/ebs/tgt/doc/README.sbcjukebox -text
example/ebs/tgt/doc/README.ssc -text
example/ebs/tgt/doc/README.vtl -text
example/ebs/tgt/doc/targets.conf.5.xml -text
example/ebs/tgt/doc/tgt-admin.8.xml -text
example/ebs/tgt/doc/tgt-setup-lun.8.xml -text
example/ebs/tgt/doc/tgtadm.8.xml -text
example/ebs/tgt/doc/tgtd.8.xml -text
example/ebs/tgt/doc/tgtimg.8.xml -text
example/ebs/tgt/doc/tmf.txt -text
example/ebs/tgt/install.sh -text
example/ebs/tgt/scripts/Makefile -text
example/ebs/tgt/scripts/build-pkg.sh -text
example/ebs/tgt/scripts/checkarch.sh -text
example/ebs/tgt/scripts/checkpatch.pl -text
example/ebs/tgt/scripts/deb/changelog -text
example/ebs/tgt/scripts/deb/compat -text
example/ebs/tgt/scripts/deb/control -text
example/ebs/tgt/scripts/deb/copyright -text
example/ebs/tgt/scripts/deb/init -text
example/ebs/tgt/scripts/deb/patches/0001-Use-local-docbook-for-generating-docs.patch -text
example/ebs/tgt/scripts/deb/rules -text
example/ebs/tgt/scripts/deb/source/format -text
example/ebs/tgt/scripts/deb/tgt.bash-completion -text
example/ebs/tgt/scripts/initd.sample -text
example/ebs/tgt/scripts/tgt-admin -text
example/ebs/tgt/scripts/tgt-core-test -text
example/ebs/tgt/scripts/tgt-setup-lun -text
example/ebs/tgt/scripts/tgt.bashcomp.sh -text
example/ebs/tgt/scripts/tgtd.spec -text
example/ebs/tgt/usr/Makefile -text
example/ebs/tgt/usr/be_byteshift.h -text
example/ebs/tgt/usr/bs.c -text
example/ebs/tgt/usr/bs.d -text
example/ebs/tgt/usr/bs_aio.c -text
example/ebs/tgt/usr/bs_aio.h -text
example/ebs/tgt/usr/bs_bec_ebs.c -text
example/ebs/tgt/usr/bs_glfs.c -text
example/ebs/tgt/usr/bs_null.c -text
example/ebs/tgt/usr/bs_null.d -text
example/ebs/tgt/usr/bs_rbd.c -text
example/ebs/tgt/usr/bs_rdwr.c -text
example/ebs/tgt/usr/bs_rdwr.d -text
example/ebs/tgt/usr/bs_sg.c -text
example/ebs/tgt/usr/bs_sg.d -text
example/ebs/tgt/usr/bs_sheepdog.c -text
example/ebs/tgt/usr/bs_sheepdog.d -text
example/ebs/tgt/usr/bs_ssc.c -text
example/ebs/tgt/usr/bs_ssc.d -text
example/ebs/tgt/usr/bs_ssc.h -text
example/ebs/tgt/usr/bs_thread.h -text
example/ebs/tgt/usr/bsg.h -text
example/ebs/tgt/usr/concat_buf.c -text
example/ebs/tgt/usr/concat_buf.d -text
example/ebs/tgt/usr/control -text
example/ebs/tgt/usr/crc32c.h -text
example/ebs/tgt/usr/driver.c -text
example/ebs/tgt/usr/driver.d -text
example/ebs/tgt/usr/driver.h -text
example/ebs/tgt/usr/iscsi/chap.c -text
example/ebs/tgt/usr/iscsi/chap.d -text
example/ebs/tgt/usr/iscsi/conn.c -text
example/ebs/tgt/usr/iscsi/conn.d -text
example/ebs/tgt/usr/iscsi/iscsi_if.h -text
example/ebs/tgt/usr/iscsi/iscsi_proto.h -text
example/ebs/tgt/usr/iscsi/iscsi_tcp.c -text
example/ebs/tgt/usr/iscsi/iscsi_tcp.d -text
example/ebs/tgt/usr/iscsi/iscsid.c -text
example/ebs/tgt/usr/iscsi/iscsid.d -text
example/ebs/tgt/usr/iscsi/iscsid.h -text
example/ebs/tgt/usr/iscsi/iser.c -text
example/ebs/tgt/usr/iscsi/iser.h -text
example/ebs/tgt/usr/iscsi/iser_text.c -text
example/ebs/tgt/usr/iscsi/isns.c -text
example/ebs/tgt/usr/iscsi/isns.d -text
example/ebs/tgt/usr/iscsi/isns_proto.h -text
example/ebs/tgt/usr/iscsi/md5.c -text
example/ebs/tgt/usr/iscsi/md5.d -text
example/ebs/tgt/usr/iscsi/md5.h -text
example/ebs/tgt/usr/iscsi/param.c -text
example/ebs/tgt/usr/iscsi/param.d -text
example/ebs/tgt/usr/iscsi/param.h -text
example/ebs/tgt/usr/iscsi/session.c -text
example/ebs/tgt/usr/iscsi/session.d -text
example/ebs/tgt/usr/iscsi/sha1.c -text
example/ebs/tgt/usr/iscsi/sha1.d -text
example/ebs/tgt/usr/iscsi/sha1.h -text
example/ebs/tgt/usr/iscsi/target.c -text
example/ebs/tgt/usr/iscsi/target.d -text
example/ebs/tgt/usr/iscsi/transport.c -text
example/ebs/tgt/usr/iscsi/transport.d -text
example/ebs/tgt/usr/iscsi/transport.h -text
example/ebs/tgt/usr/libcrc32c.c -text
example/ebs/tgt/usr/libcrc32c.d -text
example/ebs/tgt/usr/libssc.c -text
example/ebs/tgt/usr/libssc.d -text
example/ebs/tgt/usr/libssc.h -text
example/ebs/tgt/usr/list.h -text
example/ebs/tgt/usr/log.c -text
example/ebs/tgt/usr/log.d -text
example/ebs/tgt/usr/log.h -text
example/ebs/tgt/usr/media.h -text
example/ebs/tgt/usr/mgmt.c -text
example/ebs/tgt/usr/mgmt.d -text
example/ebs/tgt/usr/mmc.c -text
example/ebs/tgt/usr/mmc.d -text
example/ebs/tgt/usr/osd.c -text
example/ebs/tgt/usr/osd.d -text
example/ebs/tgt/usr/parser.c -text
example/ebs/tgt/usr/parser.d -text
example/ebs/tgt/usr/parser.h -text
example/ebs/tgt/usr/sbc.c -text
example/ebs/tgt/usr/sbc.d -text
example/ebs/tgt/usr/scc.c -text
example/ebs/tgt/usr/scc.d -text
example/ebs/tgt/usr/scsi.c -text
example/ebs/tgt/usr/scsi.d -text
example/ebs/tgt/usr/scsi.h -text
example/ebs/tgt/usr/scsi_cmnd.h -text
example/ebs/tgt/usr/smc.c -text
example/ebs/tgt/usr/smc.d -text
example/ebs/tgt/usr/smc.h -text
example/ebs/tgt/usr/spc.c -text
example/ebs/tgt/usr/spc.d -text
example/ebs/tgt/usr/spc.h -text
example/ebs/tgt/usr/ssc.c -text
example/ebs/tgt/usr/ssc.d -text
example/ebs/tgt/usr/ssc.h -text
example/ebs/tgt/usr/target.c -text
example/ebs/tgt/usr/target.d -text
example/ebs/tgt/usr/target.h -text
example/ebs/tgt/usr/tgtadm.c -text
example/ebs/tgt/usr/tgtadm.d -text
example/ebs/tgt/usr/tgtadm.h -text
example/ebs/tgt/usr/tgtadm_error.h -text
example/ebs/tgt/usr/tgtd.c -text
example/ebs/tgt/usr/tgtd.d -text
example/ebs/tgt/usr/tgtd.h -text
example/ebs/tgt/usr/tgtimg.c -text
example/ebs/tgt/usr/tgtimg.d -text
example/ebs/tgt/usr/util.c -text
example/ebs/tgt/usr/util.d -text
example/ebs/tgt/usr/util.h -text
example/ebs/tgt/usr/work.c -text
example/ebs/tgt/usr/work.d -text
example/ebs/tgt/usr/work.h -text
example/ebs/tools/attach_volume.sh -text
jepsen.atomic/.hgignore -text
jepsen.atomic/CHANGELOG.md -text
jepsen.atomic/LICENSE -text
jepsen.atomic/README.md -text
jepsen.atomic/doc/intro.md -text
jepsen.atomic/project.clj -text
jepsen.atomic/src/jepsen/atomic.clj -text
jepsen.atomic/test/jepsen/atomic_test.clj -text
/module_info -text
protocol/raft/builtin_service.proto -text
protocol/raft/enum.proto -text
protocol/raft/errno.proto -text
protocol/raft/file_service.proto -text
protocol/raft/local_file_meta.proto -text
protocol/raft/local_storage.proto -text
protocol/raft/raft.proto -text
src/raft/bthread_support.h -text
src/raft/builtin_service.pb.cc -text
src/raft/builtin_service.pb.h -text
src/raft/builtin_service_impl.cpp -text
src/raft/builtin_service_impl.h -text
src/raft/closure_queue.cpp -text
src/raft/closure_queue.h -text
src/raft/commitment_manager.cpp -text
src/raft/commitment_manager.h -text
src/raft/configuration.cpp -text
src/raft/configuration.h -text
src/raft/configuration_manager.cpp -text
src/raft/configuration_manager.h -text
src/raft/enum.pb.cc -text
src/raft/enum.pb.h -text
src/raft/errno.pb.cc -text
src/raft/errno.pb.h -text
src/raft/file_reader.cpp -text
src/raft/file_reader.h -text
src/raft/file_service.cpp -text
src/raft/file_service.h -text
src/raft/file_service.pb.cc -text
src/raft/file_service.pb.h -text
src/raft/fsm_caller.cpp -text
src/raft/fsm_caller.h -text
src/raft/fsync.cpp -text
src/raft/fsync.h -text
src/raft/io_man.cpp -text
src/raft/io_man.h -text
src/raft/local_file_meta.pb.cc -text
src/raft/local_file_meta.pb.h -text
src/raft/local_storage.pb.cc -text
src/raft/local_storage.pb.h -text
src/raft/log.cpp -text
src/raft/log.h -text
src/raft/log_entry.cpp -text
src/raft/log_entry.h -text
src/raft/log_manager.cpp -text
src/raft/log_manager.h -text
src/raft/macros.h -text
src/raft/node.cpp -text
src/raft/node.h -text
src/raft/node_manager.cpp -text
src/raft/node_manager.h -text
src/raft/protobuf_file.cpp -text
src/raft/protobuf_file.h -text
src/raft/raft.cpp -text
src/raft/raft.h -text
src/raft/raft.pb.cc -text
src/raft/raft.pb.h -text
src/raft/raft_service.cpp -text
src/raft/raft_service.h -text
src/raft/remote_path_copier.cpp -text
src/raft/remote_path_copier.h -text
src/raft/replicator.cpp -text
src/raft/replicator.h -text
src/raft/snapshot.cpp -text
src/raft/snapshot.h -text
src/raft/snapshot_executor.cpp -text
src/raft/snapshot_executor.h -text
src/raft/stable.cpp -text
src/raft/stable.h -text
src/raft/storage.cpp -text
src/raft/storage.h -text
src/raft/test/COMAKE -text
src/raft/test/bthread_sync.h -text
src/raft/test/test_checksum.cpp -text
src/raft/test/test_commitment_manager.cpp -text
src/raft/test/test_configuration.cpp -text
src/raft/test/test_file_service.cpp -text
src/raft/test/test_fsm_caller.cpp -text
src/raft/test/test_fsync.cpp -text
src/raft/test/test_io_man.cpp -text
src/raft/test/test_log.cpp -text
src/raft/test/test_log_entry.cpp -text
src/raft/test/test_log_manager.cpp -text
src/raft/test/test_node.cpp -text
src/raft/test/test_protobuf_file.cpp -text
src/raft/test/test_snapshot.cpp -text
src/raft/test/test_stable.cpp -text
src/raft/test/test_storage.cpp -text
src/raft/test/test_timer.cpp -text
src/raft/test/test_util.cpp -text
src/raft/timer.cpp -text
src/raft/timer.h -text
src/raft/util.cpp -text
src/raft/util.h -text
sys_test/COMAKE -text
sys_test/run_sys_test.sh -text
sys_test/shflags -text
sys_test/test_cases.sh -text
/version -text
/version.sh -text
